<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spellbook</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Spellbook</h1>
  <div id="spellbook">
    <p><input type="search" name="spell_search" v-model="search" placeholder="Search spell.."></p>

    <!-- <div class="index">
      <ul v-for="spell in spells">
        <li><a v-bind:href="'#' + spell.name">{{spell.name}}</a></li>
      </ul>
    </div> -->

    <div class="spell" v-for="spell in searchFilter">

      <h2><a v-bind:name="spell.name">{{spell.name}}</a></h2>
      <p>Level {{spell.level}} {{spell.school}}</p>
      <p><span v-for="class_name in spell.class">{{class_name}} </span></p>
      <p v-for="description in spell.description">{{description}}</p>
      <dl>
        <dt><strong>Casting time</strong></dt>
        <dd>{{spell.casting_time}}</dd>
        <dt><strong>Duration</strong></dt>
        <dd>{{spell.duration}}</dd>
        <dt><strong>Range</strong></dt>
        <dd>{{spell.range}} feet</dd>
        <dt><strong>Components</strong></dt>
        <dd>{{spell.components}}</dd>
        <div class="damage" v-if="spell.damage">
          <dt><strong>Damage</strong></dt>
          <dd>{{spell.damage}}</dd>
          <dt><strong>Damage type</strong></dt>
          <dd>{{spell.damage_type}}</dd>
          <dt><strong>Spell Attack</strong></dt>
          <dd>{{spell.spell_attack}}</dd>
        </div>
        <dt v-if="spell.material"><strong>Material</strong></dt>
        <dd>{{spell.material}}</dd>
        <dt v-if="spell.higher_levels"><strong>At higher levels</strong></dt>
        <dd>{{spell.higher_levels}}</dd>
      </dl>

    </div>


  </div>
  <script src="vue.js"></script>
  <script src="spells.json"></script>
  <script src="index.js"></script>
</body>

</html>
